In [7]:
import pandas as pd

In [8]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
bank_marketing = fetch_ucirepo(id=222)

In [11]:
print(bank_marketing.variables)

           name     role         type      demographic  \
0           age  Feature      Integer              Age
1           job  Feature  Categorical       Occupation
2       marital  Feature  Categorical   Marital Status
3     education  Feature  Categorical  Education Level
4       default  Feature       Binary             None
5       balance  Feature      Integer             None
6       housing  Feature       Binary             None
7          loan  Feature       Binary             None
8       contact  Feature  Categorical             None
9   day_of_week  Feature         Date             None
10        month  Feature         Date             None
11     duration  Feature      Integer             None
12     campaign  Feature      Integer             None
13        pdays  Feature      Integer             None
14     previous  Feature      Integer             None
15     poutcome  Feature  Categorical             None
16            y   Target       Binary             None

                                          description  units missing_values
0                                                None   None             no
1   type of job (categorical: 'admin.','blue-colla...   None             no
2   marital status (categorical: 'divorced','marri...   None             no
3   (categorical: 'basic.4y','basic.6y','basic.9y'...   None             no
4                              has credit in default?   None             no
5                              average yearly balance  euros             no
6                                   has housing loan?   None             no
7                                  has personal loan?   None             no
8   contact communication type (categorical: 'cell...   None            yes
9                        last contact day of the week   None             no
10  last contact month of year (categorical: 'jan'...   None             no
11   last contact duration, in seconds (numeric). ...   None             no
12  number of contacts performed during this campa...   None             no
13  number of days that passed by after the client...   None            yes
14  number of contacts performed before this campa...   None             no
15  outcome of the previous marketing campaign (ca...   None            yes
16          has the client subscribed a term deposit?   None             no

In [22]:
bank_marketing.data

{'ids': None,
 'features':        age           job   marital  education default  balance housing loan  \
 0       58    management   married   tertiary      no     2143     yes   no
 1       44    technician    single  secondary      no       29     yes   no
 2       33  entrepreneur   married  secondary      no        2     yes  yes
 3       47   blue-collar   married        NaN      no     1506     yes   no
 4       33           NaN    single        NaN      no        1      no   no
 ...    ...           ...       ...        ...     ...      ...     ...  ...
 45206   51    technician   married   tertiary      no      825      no   no
 45207   71       retired  divorced    primary      no     1729      no   no
 45208   72       retired   married  secondary      no     5715      no   no
 45209   57   blue-collar   married  secondary      no      668      no   no
 45210   37  entrepreneur   married  secondary      no     2971      no   no

          contact  day_of_week month  duration  campaign  pdays  previous  \
 0            NaN            5   may       261         1     -1         0
 1            NaN            5   may       151         1     -1         0
 2            NaN            5   may        76         1     -1         0
 3            NaN            5   may        92         1     -1         0
 4            NaN            5   may       198         1     -1         0
 ...          ...          ...   ...       ...       ...    ...       ...
 45206   cellular           17   nov       977         3     -1         0
 45207   cellular           17   nov       456         2     -1         0
 45208   cellular           17   nov      1127         5    184         3
 45209  telephone           17   nov       508         4     -1         0
 45210   cellular           17   nov       361         2    188        11

       poutcome
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 ...        ...
 45206      NaN
 45207      NaN
 45208  success
 45209      NaN
 45210    other

 [45211 rows x 16 columns],
 'targets':          y
 0       no
 1       no
 2       no
 3       no
 4       no
 ...    ...
 45206  yes
 45207  yes
 45208  yes
 45209   no
 45210   no

 [45211 rows x 1 columns],
 'original':        age           job   marital  education default  balance housing loan  \
 0       58    management   married   tertiary      no     2143     yes   no
 1       44    technician    single  secondary      no       29     yes   no
 2       33  entrepreneur   married  secondary      no        2     yes  yes
 3       47   blue-collar   married        NaN      no     1506     yes   no
 4       33           NaN    single        NaN      no        1      no   no
 ...    ...           ...       ...        ...     ...      ...     ...  ...
 45206   51    technician   married   tertiary      no      825      no   no
 45207   71       retired  divorced    primary      no     1729      no   no
 45208   72       retired   married  secondary      no     5715      no   no
 45209   57   blue-collar   married  secondary      no      668      no   no
 45210   37  entrepreneur   married  secondary      no     2971      no   no

          contact  day_of_week month  duration  campaign  pdays  previous  \
 0            NaN            5   may       261         1     -1         0
 1            NaN            5   may       151         1     -1         0
 2            NaN            5   may        76         1     -1         0
 3            NaN            5   may        92         1     -1         0
 4            NaN            5   may       198         1     -1         0
 ...          ...          ...   ...       ...       ...    ...       ...
 45206   cellular           17   nov       977         3     -1         0
 45207   cellular           17   nov       456         2     -1         0
 45208   cellular           17   nov      1127         5    184         3
 45209  telephone           17   nov       508         4     -1         0
 45210   cellular           17   nov       361         2    188        11

       poutcome    y
 0          NaN   no
 1          NaN   no
 2          NaN   no
 3          NaN   no
 4          NaN   no
 ...        ...  ...
 45206      NaN  yes
 45207      NaN  yes
 45208  success  yes
 45209      NaN   no
 45210    other   no

 [45211 rows x 17 columns],
 'headers': Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
        'loan', 'contact', 'day_of_week', 'month', 'duration', 'campaign',
        'pdays', 'previous', 'poutcome', 'y'],
       dtype='object')}